*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: salmon;
  text-align: center;
  header{
    h1{
      color: white;
    }
  }

  #content{
    margin: 20px 0;
    h1{
      color: lightblue;
    }
    ul li{
      color: purple;
    }

  }

  footer{
    h1{
      color: white;
    }
  }
}
